* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  /*font-family: "Yuji Boku", serif;*/
  font-family: "Space Grotesk", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #363636;
  background-color: rgba(36, 47, 64, 0.2);
  overflow: hidden;

  height: 100vh;
}

.app {
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  padding: 20px 0 0;
  background-color: rgba(204, 164, 59, 0.5);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

header img {
  width: 7%;
  /*position: absolute;*/
  /*top: 25px;*/
  /*left: 450px;*/
  opacity: 0.8;
}

.title {
  font-size: 96px;
  text-align: center;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex: 1;
  padding: 30px;
}

.card {
  background-color: #363636;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  color: #e5e5e5;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  position: relative;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.35) 0 10px 30px;
}

.card > img {
  background-image: linear-gradient(to top, #e3ffe7, #d9e7fe);
  width: 150px;
  height: 160px;
  padding: 20px;
}

.card > .info {
  width: 100%;
}

.card > .info > h3 {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  padding: 16px;
}

.card > .info > .stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  column-gap: 16px;
  row-gap: 20px;
  padding: 2px 8px;
}

.card > .info > .stats > p {
  font-weight: 500;
}

.card > .info > .stats > p > span {
  color: #cca43b;
  font-weight: 700;
  font-size: 18px;
}

.card .type {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 16px;
  padding: 8px;
  font-weight: 500;
  border-radius: 8px 0 0 0;
  font-family: "Yuji Boku", serif;
}

.footer {
  background-color: rgba(36, 47, 64, 0.9);
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 30px;
  flex: 1;
}

.footer-btn {
  border: none;
  padding: 16px 32px;
  font-size: 48px;
  border-radius: 16px;
  font-weight: 700;
  color: #ef4035;
  background-color: #e5e5e5;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  transition: all 0.2s;
}

.footer-btn:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.35) 0 10px 30px;
}

.footer-btn:active {
  transform: scale(1);
}

.footer-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 128px;
}

.footer-title-properties {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #e5e5e5;
  font-size: 52px;
  font-weight: 500;
}

.footer-title-properties > img {
  width: 50px;
}

.footer .footer-title h1 {
  font-size: 48px;
}

.properties-p {
  font-size: 14px;
  color: #e5e5e5;
  align-self: end;
  padding-bottom: 6px;
  font-weight: 400;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  /*transform: translateY(400px);*/
}

.footer-start {
  flex: 0;
}

.card-slot {
  background-color: #cca43b;
  width: 260px;
  height: 340px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  cursor: pointer;
  border: 4px solid #cca43b;
  position: relative;
}

.card-slot:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 10px 30px;
}

.card-slot:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  border-radius: 0 0 12px 12px;
  background-color: #363636;
}

.card-slot:after {
  content: "";
  position: absolute;
  background-color: #242f40;
  width: 100%;
  height: 20px;
  top: calc(50% - 10px);
  z-index: 0;
}

.card-cover {
  position: absolute;
  bottom: calc(50% - 25px);
  left: calc(50% - 25px);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #242f40;
  z-index: 1;
}

.card-cover:after {
  content: "";
  position: absolute;
  bottom: calc(50% - 12px);
  left: calc(50% - 12px);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background-color: #e5e5e5;
}

.cart-open {
  border: 4px solid #cca43b;
  transition: all 0.3s;
  background-color: #363636;
  width: 260px;
  height: 340px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.cart-open:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.35) 0 10px 30px;
}

.cart-open img {
  background-image: linear-gradient(to top, #e3ffe7, #d9e7fe);
  width: 100%;
  height: 50%;
  padding: 12px;
}

.cart-open > .info h3 {
  font-size: 28px;
  color: #e5e5e5;
  text-transform: uppercase;
  text-align: center;
  margin: 12px;
}

.cart-open > .info > .stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  font-size: 16px;
  color: #e5e5e5;
  row-gap: 16px;
  font-weight: 500;
  padding: 8px 0 0 4px;
}

.cart-open > .info > .stats span {
  color: #cca43b;
  font-weight: 700;
  font-size: 17px;
}

.cart-open > .type {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 20px;
  font-family: "Yuji Boku", serif;
  padding: 4px 0 10px;
}

.normal,
.unknown {
  background-color: #e5e5e5;
  color: #242f40;
}

.fighting {
  background-color: #603808;
  color: #e5e5e5;
}

.flying {
  background-color: #efcfe3;
  color: #242f40;
}

.ground {
  background-color: #3d405b;
  color: #e5e5e5;
}

.rock {
  background-color: #242423;
  color: #e5e5e5;
}

.bug {
  background-color: #8da9c4;
  color: #242f40;
}

.ghost {
  background-color: #eef4ed;
  color: #242f40;
}

.steel {
  background-color: #22333b;
  color: #e5e5e5;
}

.fire {
  background-color: #f94144;
  color: #ffff3f;
}

.water {
  background-color: #00a6fb;
  color: #e5e5e5;
}

.grass {
  background-color: #90be6d;
  color: #242f40;
}

.psychic {
  background-color: #7371fc;
  color: #e5e5e5;
}

.ice {
  background-color: #bfdbf7;
  color: #242f40;
}

.dragon {
  background-color: #f25c54;
  color: #242f40;
}

.dark {
  background-color: #0a0908;
  color: #e5e5e5;
}

.fairy {
  background-color: #87bba2;
  color: #363636;
}

.stellar {
  background-color: #fde4cf;
  color: #363636;
}

.poison {
  background-color: #9448bc;
  color: #e5e5e5;
}

.electric {
  background-color: #ffff3f;
  color: #242f40;
}

/* HTML: <div class="loader"></div> */
.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #363636;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}
